
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<h1 class="pagetitlemargin">Player's Overall Statistics</h1>

<table id="statsTable" class="display compact" data-url="@Url.Action("getstats", controllerName)">
    <thead class="datatable-Header">
        <tr>
            <td>
                PlayerName
            </td>
            <td>
                T Runs Scored
            </td>
            <td>
                T Balls Faced:
            </td>
            <td>
                T Fours
            </td>
            <td>
                T Sixes
            </td>
            <td>
                T Wickets Taken
            </td>
            <td>
                T Overs Bowled:
            </td>
            <td>
                T Runs Con:
            </td>
            <td>
                T Catches Taken
            </td>
            <td>
                Batting Strike Rate:
            </td>
            <td>
                Total Run Outs:
            </td>
            <td>
                Bowling Eco.
            </td>
            <td>
                Total Outs
            </td>
            <td>
                Bowling Avg
            </td>
            <td>
                Batting Avg
            </td>
            <td >
                Wicketer type
            </td>
            <td>
               total Wicketer type 
            </td>


        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </tbody>

</table>

<h1 class="pagetitlemargin">Compare two players' batting performance</h1>
<form>
    <div class="fields">
        <label> Select Player 1: </label> @Html.DropDownList("pList", (IEnumerable<SelectListItem>)ViewBag.listOfPlayers, new { id = "ddPlayerList1", @class = "ddfield" })
        <label> Select Player 2: </label>  @Html.DropDownList("pList", (IEnumerable<SelectListItem>)ViewBag.listOfPlayers, new { id = "ddPlayerList2", @class = "ddfield" })
    </div>
    <button type="submit" class="btn btn-primary" name="btnComparePerformance" id="btnComparePerformance"> Compare </button>
</form>

<br/>


<table id="compareTable" class="display compact" data-url="@Url.Action("getCompariosn", controllerName)">
    <thead class="datatable-Header">
        <tr>
            <td>
                Player Name
            </td>
            <td>
                Total Runs Scored
            </td>
            <td>
                Total Balls Faced:
            </td>
            <td>
                Total Fours
            </td>
            <td>
                Total Sixes
            </td>
            <td>
                Total Wickets Taken
            </td>
            <td>
                Total Overs Bowled:
            </td>
            <td>
                Total Runs Conceded:
            </td>
            <td>
                Total Catches Taken
            </td>
            <td>
                Batting Strike Rate:
            </td>
            <td>
                Total Run Outs:
            </td>
            <td>
                Bowling Economy:
            </td>
            <td>
                Total Outs
            </td>
            <td>
                Bowling Average:
            </td>
            <td>
                Batting Average:
            </td>
            <td>
                Wicketer type
            </td>
            <td>
               Total wicketer type
            </td>


        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>

    </tbody>

</table>

<script>
    $(document).ready(function () {

        var dataArray = [];
        var table = $('#statsTable').DataTable({
            data: dataArray,
            searching: true,

            columns: [
                { data: 'PlayerName' },
                { data: 'runsScored' },
                { data: 'ballsFaced' },
                { data: 'Fours' },
                { data: 'Sixes' },
                { data: 'wicketsTaken' },
                { data: 'oversBowled' },
                { data: 'runConceded' },
                { data: 'Catches' },
                { data: 'BattingStrikeRate' },
                { data: 'runOuts' },
                { data: 'BowlingEconomy' },
                { data: 'Out' },
                { data: 'BowlingAverage' },
                { data: 'BattingAverage' },
                {
                    data: 'HowOut',
                    visible: false
                },
                {
                    data: 'TotalWicketerType',
                     visible: false
                },

            ]

        });

        LoadStats(table);
        function LoadStats(table) {

            var urlstr = $('#statsTable').attr('data-url');
            $.ajax({
                type: "Get",
                async: true,
                url: urlstr,
                data: JSON.stringify({}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                deferRender: true,
                success: function (data) {

                    dataArray = eval('(' + JSON.stringify(data) + ')');

                },
                error: function (request, error) {
                    alert("stats not found");
                },
                complete: function () {
                    table.clear();
                    table.rows.add(dataArray).draw();
                }
            });
        }

        var dataArray2 = [];
        var CompareTable = $('#compareTable').DataTable({
            data: dataArray2,
            searching: false,
            bPaginate: false,
            bLengthChange: false,
            bFilter: true,
            bInfo: false,
            AutoWidth: false, 

            columns: [
                { data: 'PlayerName' },
                { data: 'runsScored' },
                { data: 'ballsFaced' },
                { data: 'Fours' },
                { data: 'Sixes' },
                {
                    data: 'wicketsTaken',
                     visible: false
                },
                {
                    data: 'oversBowled',
                    visible: false
                },
                {
                    data: 'runConceded',
                     visible: false
                },
                {
                    data: 'Catches',
                    visible: false
                },
                { data: 'BattingStrikeRate' },
                {
                    data: 'runOuts',
                    visible: false
                },
                {
                    data: 'BowlingEconomy',
                    visible: false
                },
                { data: 'Out' },
                {
                    data: 'BowlingAverage',
                    visible: false
                },
                { data: 'BattingAverage' },
                {
                    data: 'HowOut'
                },
                { data: 'TotalWicketerType' },
            ]

        });


        $("#btnComparePerformance").on("click", function (e) {
            e.preventDefault();
           
            var PId1 = $("#ddPlayerList1").val();
            var PId2 = $("#ddPlayerList2").val();
            var urlstr = $('#compareTable').attr('data-url');
           
            getComparison(PId1, PId2, urlstr);
        });

        function getComparison(PId1, PId2, urlstr) {
            
              $.ajax({
                  type: "Get",
                  async: true,
                data: {
                    player1: PId1,
                    player2: PId2

                },
                  url: urlstr,
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  deferRender: true,
                success: function (data) {
                   
                    dataArray2 = eval('(' + JSON.stringify(data) + ')');
                   
                },
                error: function (data) {
                    if (data === "0")
                        alert("Compare data not found");
                  },
                complete: function () {
                    CompareTable.clear();
                    CompareTable.rows.add(dataArray2).draw();
                  }
            })

        }

    });



</script>

