@{
                /**/

                ViewBag.Title = "Home Page";
}



    <div class="slideshow-container">

        <div class="mySlides ">
            <div class="numbertext">1 / 3</div>
            <img src="~/Content/images/cricimg2.jpg" >
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides ">
            <div class="numbertext">2 / 3</div>
            <img src="~/Content/images/cricimg3.jpg" >
            <div class="text">Caption Two</div>
        </div>

        <div class="mySlides ">
            <div class="numbertext">3 / 3</div>
            <img src="~/Content/images/cricketimg1.jpg" >
            <div class="text">Caption Three</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

<h1>News</h1>

<article>
    <h2 class="news-title">
        Important to filter opinions and focus on preparations - Karthik
    </h2>
    <figure class="news-image">
        <img src="~/Content/NewsImage/kartik.jpeg" alt="news image" />
        <figcaption>
            "We were the last recognised batsmen and we took it till the end and that required a lot of courage" - Karthik
        </figcaption>
    </figure>
    <p class="news-feed">
      
        Dinesh Karthik, in the last one year, has shown the wherewithal and level-headedness needed to excel in the role of a finisher in limited overs cricket. Be it for India or for Kolkata Knight Riders (KKR) in the IPL, Karthik has come up with contributions at crucial junctures to help the team's cause.<br /><br />

        If the recently-concluded trips to Australia and New Zealand saw many hits from Karthik's willow, the 'miss' arrived in the final T20I at Hamilton. Karthik's refusal to take a single with Krunal Pandya at the non-striker's end in the last over of the contest - which India lost by 4 runs - was criticised by fans and ex-players. Some labelled him overconfident while many questioned his finishing skills.<br /><br />

        On his part, Karthik felt he and Krunal did the best they could in a situation where 68 runs were required off the final 28 balls. "To get 68 from 28 was always going to be a daunting task. The fact that we lost the match by 4 runs shows that we believed in ourselves. We were the last recognised batsmen and we took it till the end and that required a lot of courage," Karthik told TOI.<br /><br />

        Karthik cleared the air for those who questioned whether he didn't trust Krunal's batting skills and hence, chose not to take the single in the final over. "Krunal batted brilliantly in that game and it is credit to him that we could take the team right till the very end of the game. It's just that I couldn't finish things off," Karthik conceded.<br /><br />

        The 33-year-old went on to praise Tim Southee for having kept the pressure up in the decisive last over. "You have to give credit to the way Southee bowled that over. He bowled some very good yorkers and we couldn't get under the ball," said Karthik.

        


    </p>
</article>






