/*@import url('https://fonts.googleapis.com/css?family=Charm|Lobster+Two|Open+Sans+Condensed:300|Special+Elite');*/

body {
    background-color: white;
}

.pagetitlemargin {
    margin-top: 70px;
}

.header {
    display: flex;
    text-decoration: overline;
    text-shadow: 3px 2px lightgrey;
    letter-spacing: 2px;
    font-size: 25px;
    width: 13%;
    padding: 1px;
    float: left;
    justify-content: flex-start;
}

.menu {
    display: flex; 
    flex-direction: column;
}

.wrapper {
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.2);
}




/* Menu Button */
.bar {
    height: 3px;
    width: 30px;
    padding: 1px;
    border: 2px solid white;
    display: block;
}

.menu button {
    background-color: white;
    border: none;
    padding: 2px;
    display: flex;
    margin: auto;
    padding: 10px;
    outline: 0;
}

.wrap {
    background-color: black;
    border-radius: 10px;
}

    .wrap:hover {
        background-color: #29D7B1;
    }

   

/* Menu items */
.menubar {
    background: black;
    width: 0%;
    display: none;
    opacity: 0.90;
    margin: auto;
    margin-bottom: 5px;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    #stats:hover .sub-menu {
        display: block;
    }

.show {
    display: flex;
    width: 100%;
}

ul {
    margin: auto;
    width: 100%;
    padding: 0.5px;
    list-style: none;
}

a {
    font-family: 'Special Elite', cursive;
    color: white;
    text-decoration: none;
    font-size: 20px;
}


    a:hover {
        color: #29D7B1;
    }

li {
    text-align: center;
    padding: 5px;
    padding-left: 80px;
    padding-right: 80px;
}

    li.menu-item {
        border-bottom: 1px solid grey;
    }

nav {
    width: 100%;
}

.close {
    display: none;
}

/*footer*/
.navigation {
    text-decoration: none;
    list-style: none;
    display: flex;
    background-color: #0d2a5d;
    opacity: 0.80;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.sec1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: unset;
}

.sec2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-content: unset;
}


footer {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0.85;
    text-align: center;
    
}

.footer-Nav {
    font-family: sans-serif; 
    color: white;
}



/* commeent section */

.comment-box {
    padding: 1%;
    width: 93%;
    border: 1px solid #000;
    background-color: #FFEACF;
    color: black;
    border-radius: 20px;
    border-color: white;
    margin-bottom: 10px;
}

/*image section in the comment block */
.left-paneling {
    width: 15%;
    float: left;
   
}

    .left-paneling img {
        width: 70px;
        border-radius: 100%;
        height: 70px;
    }

/*comment section in the comment block */
.right-paneling {
    width: 75%;
    float: right;
}

.clear {
    clear: both;
}

.comment-container {
    margin: auto;
    height: 400px;
    width: 800px;
    overflow-y: auto;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: cadetblue;
    background-size: 100%;
}

.comment-button {
    height: 30px;
    width: 130px;
    border-radius: 15px;
    background-color: white;
    outline: none;
    color: #29D7B1;
    border-color: #29D7B1;
}

    .comment-button:hover {
        color: white;
        border-color: white;
        background-color: #29D7B1;
    }

.blog-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.comment {
    display: flex;
    margin: 10px;
}
/* form section */
form label, input, textarea, button {
    justify-content: center;
    align-items: center;
}

label {
    padding: 5px;
}

input {
    height: 20px;
    width: 250px;
    border-radius: 8px;
    outline: none;
}

.ddfield {
    height: 20px;
    width: 250px;
    border-radius: 8px;
    outline: none;
}

.dateTime {
    text-align: center;
    background-color: lightgrey;
}

textarea {
    height: 80px;
    width: 250px;
    border-radius: 10px;
    outline: none;
}


.fields {
    display: grid;
    grid-template-columns: 200px 400px 200px 400px;
    margin: 10px;
}

.checkbox-fields {
    display: flex;
    width: 250px;
}

h1 {
    border-bottom: solid 2px black;
}

.submit-button {
    height: 30px;
    width: 130px;
    border-radius: 15px;
    background-color: white;
    outline: none;
    color: #29D7B1;
    border-color: #29D7B1;
}


/*image & video block for gallery*/
.image-block{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.image{
    width:100%;
    height:250px;
}

.video-block {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

video {
    width: 100%;
   
}

/*image slideshow*/


body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

.mySlides {
    display: none;
    
}

img {
    vertical-align: middle;
    height: 400px;
    width: 100%
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 70px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

input[type="checkbox"] {
    width: 35px;
}
    /* The dots/bullets/indicators */
    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#BowlingEconomy, #BowlingAverage, #BattingStrikeRate{
    width: 250px;
}

/*news*/


.news-image {
    align-content: center;
    text-align: center;
    height: 500px;
    margin: auto;
    width: 700px;
}

figcaption {
   color: gray;
}

/*stop and play button*/ 
.play {
    border-radius: 100%;
    background-color: whitesmoke;
    border-color: #29D7B1;
    height: 36px;
    width: 35px;
}

.stop {
    border-radius: 100%;
    background-color: whitesmoke;
    border-color: #29D7B1;
    height: 36px;
    width: 35px;
}


/*modal*/
#modal-dialog-match, #modal-dialog-performance {
    width: 100%;
}

#dataTableManageMatches  {
    font-size: 12px;
    padding-right: 80px;
    padding-left: 40px;
}

#dataTableManagePerformance {
    font-size: 10px;
    padding-right: 60px;
    padding-left: 1px;
}

.edit-player, .edit-match, .delete-player, .delete-match, 
.edit-performance, .delete-performance {
    text-decoration: underline;
    color: dodgerblue;
    cursor: pointer;
}

    .edit-player:hover, .edit-match:hover, .delete-player:hover, .delete-match:hover,
    edit-performance:hover, .delete-performance:hover {
        color: black;
    }

.dataTables_wrapper .dataTables_paginate .paginate_button {
    position: relative;
}

#Graph1 {
    height: 500px;
    width: 100%;
    margin-top: 70px;
}
#Graph2 {
    height: 500px;
    width: 100%;
    margin: 25px;
}


@media screen and (min-width: 500px) {
    body {
        background: white;
    }

    .header {
        display: flex;
        width: 45%;
        float: left;
        height: 2em;
        margin: 10px;
        align-items: center;
        justify-content: flex-start;
    }

    .news-title{
        font-size: 25px;
    }


    /*menu items*/
    .menu {
        display: flex;
        width: 45%;
        margin: auto;
        padding: 12px;
        align-items: flex-end;
    }

    .wrapper {
        position: fixed;
        width: 100%;
        height: 55px;
        background: white;
        top: 0;
        z-index: 10;
        opacity: 0.99;
        left: 0;
    }


    .menu #menu-button {
        display: flex;
        padding: 5px;
        margin: 0;
    }

    .menubar {
        display: none;
    }

    .show {
        display: flex;
    }

    #menu-items {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 15px;
    }

    .menu-items li a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    #last-li {
        border-bottom: 1px solid grey;
    }

    ul {
        margin: unset;
    }

    .close {
        display: flex;
        position: absolute;
        top: 0;
        left: 40px;
        font-size: 25px;
        margin-left: 80px;
    }
}

@media screen and (min-width: 950px) {

    body {
        background: white;
    }

    .header {
        width: 13%;
        padding: 1px;
        margin: 8px;
    }

    /*menu items*/
    .menu {
        display: flex;
        width: 80%;
        margin-right: 0px;
    }

        .menu #menu-button {
            display: none;
            width: 0%;
        }

    .menubar {
        background: white;
        display: flex;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

        ul a {
            color: black;
        }

    li.menu-item {
        border-right: 1px solid grey;
        border-bottom: none;
    }

    #menu-items {
        position: unset;
        z-index: unset;
        background-color: white;
        overflow-x: unset;
        padding-top: 0;
        width: unset;
        margin: 0%;
    }

    .close {
        display: none;
    }

    ul {
        margin: 0%;
    }

    li {
        padding-left: 35px;
        padding-right: 35px;
    }

    #last-li {
        border-bottom: unset;
    }

    a {
        font-size: 15px;
    }
}
